

#inbox{
    width: 150px;
    height: 15px;
    padding: 10px 15px;
    border-radius:2px;
    border-color: rgb(114, 114, 153);  
    box-shadow: 20px; 
    font-weight: bold;
    text-align: center;
    font-size: large;

}
#container{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
    font-size: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgb(5, 49, 248);
    color:white;
    font-weight: bold;
    cursor: pointer;
    border-color: black;
    box-shadow: 10px;
}
button:hover{
    background-color:rgb(13, 5, 133) ;
}
button:active{
    background-color:rgb(43, 3, 100) ;
}
#diceResult{
    margin:10px;

}
#diceImages{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    height: 15vh;
}