* {
    padding: 0;
    margin: 0;

}

nav {
    background-color: black;
    color: white;
    padding: 15px;

}

li,
h1,
ul {

    display: inline;
}

ul {
    margin-left: 60%;

}

li {
    color: gray;
}

li:hover {
    color: white;

}

.container div {
    width: 200px;
    color: black;
    padding: 10px;
    margin: 5px;
    flex-basis: 20%;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;


}

.bnt {
    background-color: green;
    color: antiquewhite;
    border: none;
    padding: 10x 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    font-size: small;

}

.bnt:hover {
    background-color: blue;
}

.site-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    height: 20px;
    width: 100%;
    position: relative;


}