#countLable{
    display: block;
    text-align: center;
    font-size:10em;
    font-family: Arial, Helvetica, sans-serif;
}
#btncontainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color:white;
    background-color:rgba(4, 4, 90, 0.143);
    cursor: pointer;
    transition: background-color 0.25s;
    border-radius: 10px;
    
}
.buttons:hover{
    background-color:rgb(20, 165, 223);
}
*{
    background-color:yellow;
}